#sign-in {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username {
    min-width: 200px;
    width: 20%;
}

.avatar, .ability{
    cursor: pointer;
    margin: 5px;
    border: 3px solid white;
    width: 100px;
    height: 100px;
}
