#maze-lobby{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#side-by-side {
    display: flex;
}

.ghost {
    padding: 2px;
}