.green {
    background-color: #4CAF50;
    color: white;
}

.blue {
    background-color: #008CBA;
    color: white;
}

.red {
    background-color: #FB3640;
    color: white;
}

.teal {
    background-color: #02C39A;
    color: white;
}

.yellow {
    background-color: #F0C808;
    color: white;
}